[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tortoise-orm = {extras = ["asyncmy"], version = "*"}
bcrypt = "*"
jwt_helper = ">=0.0.7"

[dev-packages]
sphinxcontrib-napoleon = "*"
pydata-sphinx-theme = "*"
sphinx-autodoc-typehints = "*"
black = "*"
build = "*"
setuptools = "*"
twine = "*"
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
