[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tortoise-orm = {extras = ["asyncmy"], version = "*"}
pyjwt = "*"
python-ldap = "*"
cryptography = "*"
bcrypt = "*"

[dev-packages]
sphinx-immaterial = "*"
sphinx-autodoc-typehints = "*"
sphinx-copybutton = "*"
black = "*"
build = "*"
setuptools = "*"
twine = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
